<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Flight Network" verbose="1">
    <parameter name="url" value="https://www.flightnetwork.com/"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="local" value="true"/>
    <parameter name="timeout" value="5"/>
    <parameter name="headless" value="false"/>

    <test name="Filters tests">
        <classes>
            <class name="com.example.demo.filters.FiltersTest"/>
        </classes>
    </test>
</suite>