<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Flight Network" verbose="1">
    <parameter name="url" value="https://www.flightnetwork.com/"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="timeout" value="20"/>
    <parameter name="headless" value="false"/>

    <test name="Verify Flight results filters">
        <classes>
            <class name="com.example.demo.filters.PROJ_JiraTC001_FiltersTest"/>
        </classes>
    </test>
</suite>